.myinput {
  font-size: 1.0em;
}

.popup_new {
  position:absolute; 
  visibility:hidden; 
  left: 193px; 
  top: 199px;
  width:635px; 
  z-index:8; 
  padding: 10px 10px 10px 10px; 
  border: 1px solid black; 
  background: #ffffff;
}

.option_help {
  position: relative;
  top: 3px;
  margin-left: 10px;
  border-width: 0px;
}

.select100 {
  font-size: 1.0em;
  vertical-align:middle;
  width:100px;
}
.select110 {
  font-size: 1.0em;
  vertical-align:middle;
  width:110px;
}
.select140 {
  font-size: 1.0em;
  vertical-align:middle;
  width:140px;
}
.select160 {
  font-size: 1.0em;
  vertical-align:middle;
  width:160px;
}
.select200 {
  font-size: 1.0em;
  vertical-align:middle;
  width:200px;
}
.select263 {
  font-size: 1.0em;
  vertical-align:middle;
  width:263px;
  width:143px;
  border: solid 1px #666666;
}
.bigbutton {
  width: 180px;
  height: 50px;
  color: #00AAEA;
  font-size: 130%;
  font-weight: bold;
}
.pinktext {
  color: #E70089;
  font-weight: bold;
}
.bluetext {
  color: #00AAEA;
  font-weight: bold;
}
.smalltext {
  font-size: 30%;
}
.spacer {
  float: left;
  width: 8px;
  height: 10px;
}
.clearboth { 
  clear: both; 
}

a.in_table {
  color: #FFFFFF;
  text-decoration: underline;
}
a.in_table:hover {
  color: #CCCCCC;
}
a img {
  border-width: 0px;
}
input.quotebutton {
  width: 150px;
  height: 53px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url(images/quote_order.gif) no-repeat top left;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* IE 5.x */
}
input.quotebutton:hover {
  background: transparent url(images/quote_order_hover.gif) no-repeat top left;
}
input.submitbutton {
  width: 150px;
  height: 53px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url(images/submit_order.gif) no-repeat top left;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* IE 5.x */
}
input.submitbutton:hover {
  background: transparent url(images/submit_order_hover.gif) no-repeat top left;
}

#new_summary  {
  width: 210px;
}
div.third_column {
  width: 210px;
}

.select_separator {
  background:  #ffffff url('images/pixel.gif') 50% 50% repeat-x;
  background-attachment: scroll;
}
#finishing-popup-1, #finishing-popup-2,
#finishing-popup-3, #finishing-popup-4,
#finishing-popup-5, #finishing-popup-6,
#finishing-popup-7, #finishing-popup-8,
#finishing-popup-9, #finishing-popup-10 {
  position: absolute;
  top: 100px;
  left: 700px;
  width: 480px;
  padding: 20px 10px;
  z-index: 4;
  background-color: #ffffff;
  border: solid 1px #666666;
}
#finishing-popup-buttons-1, #finishing-popup-buttons-2,
#finishing-popup-buttons-3, #finishing-popup-buttons-4,
#finishing-popup-buttons-5, #finishing-popup-buttons-6,
#finishing-popup-buttons-7, #finishing-popup-buttons-8,
#finishing-popup-buttons-9, #finishing-popup-buttons-10 {
  text-align: center; 
  margin-top: 10px;
}
.div_hidden {
  display: none;
}
.div_displayed {
  display: block;
}
input:disabled {
  color: #333333;
  background-color: #d4d0c8;
}
input[disabled=""] {
  color: #333333;
  background-color: #d4d0c8;
}
